*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
:root{
  --grape: #94618E;
  --mauv: #633f64;
  --sand: #f4dec8;
  --white: #f8eee7;
   
}
.main-container {
  display: flex;
  height: 100vh;
}
.tasks-container{
  flex-grow: 3;
}
/* LEFT NAV DIV*/
.side-bar-container {
  /* padding-top: 5vh; */
  width: 15vw; 
  font-family: 'Barlow';
  font-weight: 500;
  background-color: var(--mauv);
  color: var(--white);
}
.sort-opt, .type-opt {
  list-style-type: none;
  height: 5vh;
  margin-top: 5px;
  margin-left: 10px;
}
.sort-opt:hover, .type-opt:hover{
  background-color: rgb(148, 166, 172);
}
.todays-date {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: clamp(3rem, 100px ,10vw);
  font-weight: 500;
}

/* RIGHT CREATE DIV*/
.create-bar-container {
  flex-grow: .5;
  background-color: var(--sand);
}
.create-bar-subhead {
  font-family: 'Barlow';
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}
.create-opt > form {
  display: flex;
  flex-flow: column;
}
form > input {
  width: 85%;
  margin: auto;
}
form > .submit-button {
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 12px;
  color: var(--white);
  background-color: var(--grape);
  border-style: none;
  width: 85%;
  margin: auto;
  border-radius: 5px;
}
/*CENTER DIV w/ TASKS*/
#tasks-container-title {
  font-family: 'Barlow';
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  border-bottom: solid 1px rgb(180, 180, 180);
}
.task-container {
  font-family: 'Barlow';
  display: flex;

  border-bottom: solid 1px rgb(173, 173, 173);
}
.task-center-container {
  flex-grow: 1;
}
.task-progress {
  width: 2vw;
  margin: 10px;
}
.task-center-container > h1 {
  font-weight: 600;
}
.task-center-container > p {
  font-weight: 300;
}
.task-date {
  align-self: center;
}