*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
.main-container {
  display: flex;
  height: 100vh;
}
.tasks-container{
  flex-grow: 2;
}
/* LEFT NAV DIV*/
.side-bar-container {
  /* padding-top: 5vh; */
  /* height: 95vh;
  width: 20vw; */
  font-family: 'Barlow';
  font-weight: 500;
  background-color: rgb(181, 223, 236);
}
.sort-opt, .type-opt {
  list-style-type: none;
  height: 5vh;
  margin-top: 5px;
  margin-left: 10px;
}
.sort-opt:hover, .type-opt:hover{
  background-color: rgb(148, 166, 172);
}
.todays-date {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: clamp(3rem, 100px ,10vw);
  font-weight: 500;
}

/* RIGHT CREATE DIV*/
.create-bar-container {
  flex-grow: 1;
  background-color: rgb(224, 224, 185);
}
.create-opt {
  border: solid 1px salmon;
}
.create-bar-subhead {
  font-family: 'Barlow';
  font-weight: 500;
}
.create-opt > form{
  display: flex;
  flex-flow: column;
}

/*CENTER DIV w/ TASKS*/
#tasks-container-title {
  font-family: 'Barlow';
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  border-bottom: solid 1px rgb(180, 180, 180);
}
.task-container {
  font-family: 'Barlow';
  display: flex;

  border-bottom: solid 1px rgb(173, 173, 173);
}
.task-center-container {
  flex-grow: 1;
}
.task-center-container > h1 {
  font-weight: 600;
}
.task-center-container > p {
  font-weight: 300;
}