*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow';
  src: url('./Barlow-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
:root{
  --white-icon: invert(83%) sepia(14%) saturate(402%) hue-rotate(343deg) brightness(108%) contrast(91%);
  --purple-checked-icon: invert(27%) sepia(13%) saturate(1492%) hue-rotate(250deg) brightness(97%) contrast(90%);
  --grape: #94618e;
  --mauv: #633f64;
  --sand: #f4dec8;
  --white: #f8eee7;
}
.main-container {
  display: flex;
  height: 100vh;
}
.mid-container{
  flex-grow: 3;
}
/* LEFT NAV DIV*/
.search-label > span {
  position: relative;
  top: 27px;
  left: 7%;
  opacity: .8;
}
#search-input {
  border: none;
  outline: none;
  display: block;
  width: 75%;
  margin: auto;
  height: 1.5rem;
  margin-bottom: 20px;
  padding-left: 28px;
  border-radius: 5px;
}
  #search-input:focus {
    border: none;
    outline: none;
  }
.side-bar-container {
  padding-top: 2vh;
  width: 15vw; 
  font-family: 'Barlow';
  font-weight: 500;
  background-color: var(--mauv);
  color: var(--white);
}
.type{
  margin-top: 20px;
}
.sort-opt, .type-opt {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 5vh;
  margin-top: 5px;
  padding-left: 10px;
}
  .sort-opt:hover, .type-opt:hover{
    background-color: rgb(148, 166, 172);
    cursor: pointer;
  }

.sort-title{
  margin-left: 5px;
}
.icon-white{
  filter: var(--white-icon);
}
.icon-purple:hover.unused{
  filter: invert(48%) sepia(12%) saturate(1545%) hue-rotate(256deg) brightness(85%) contrast(83%);
}
.icon-purple.unused{
  filter: invert(59%) sepia(4%) saturate(3167%) hue-rotate(255deg) brightness(95%) contrast(86%);
}
/* below means seleced */
.icon-purple {
  filter: var(--purple-checked-icon);
}
.icon-purple:hover {
  filter: invert(48%) sepia(12%) saturate(1500%) hue-rotate(256deg) brightness(75%) contrast(83%);
}
.todays-date {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: clamp(3rem, 100px ,10vw);
  font-weight: 500;
}
.dropdown.nav-drop {
  margin-left: 11px;
  width: 22px;
}
.dropbtn.nav-drop{
  width: 100%;
}
.delete-task-tag{
  font-weight: 600;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background: var(--grape);
  border: none;
  margin-left: auto;
  margin-right: 5px;
  padding-bottom: 4px;
  line-height: 2px;
  color: var(--sand);
}
  .delete-task-tag:hover{
    background-color: rgb(255, 0, 0);
    color: var(--white);
  }
/* RIGHT CREATE DIV*/
.create-bar-container {
  flex-grow: .5;
  background-color: var(--sand);
  padding-top: 5vh;
}
.hide {
  display: none;
}
.close-create-bar {
  font-family: 'Barlow';
  font-size: 16px;
  font-weight: 500;
  width: 23px;
  border: none;
  border-radius: 5px;
  background-color: var(--grape);
  color: var(--white);
  position: absolute;
  top: 5px;
  right: 5px;
}
  .close-create-bar:hover{
    background-color: var(--mauv);
  }

.create-bar-subhead {
  font-family: 'Barlow';
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}
.create-opt > form {
  width: 85%;
  margin: auto;

  display: flex;
  flex-flow: column;
}
#task-descript{
  font-family: 'Barlow';
  margin-top: 5px;
  height: 40px;
  font-size: 12px;
}
.form-lastrow{
  margin-top: 5px;
  display: flex;
}
.urgent-label {
  font-family: 'Barlow';
  text-align: center;
}
.urgent-label > input {
  box-shadow: none;
  background-color: black;
  border: solid 1px red;
}
.control-checkbox > span {
  position: relative;
  top: 2px;
}
.tags-container {
  display: flex;
  margin-top: 5px;
}
#tag-container {
  display: flex;
}
#tag-container > a {
  margin-top: 5px;
  margin-right: 2px;
}
a.used{
  filter: var(--purple-checked-icon);
}
.submit-button {
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 16px;
  flex-grow: 1;
  color: var(--white);
  background-color: var(--grape);
  border-style: none;
  border-radius: 5px;
}
  .submit-button:hover{
    background-color: var(--mauv);
  }
/*CENTER DIV w/ TASKS*/
#tasks-container-title {
  font-family: 'Barlow';
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
  border-bottom: solid 1px gainsboro;
}
.task-container {
  font-family: 'Barlow';
  display: flex;

  border-bottom: solid 1px gainsboro;
}
.u-contain, .b-contain {
  margin-left: 3px;
}
.task-center-container {
  flex-grow: 1;
  padding-left: 5px;
}
  .task-center-container > .task-title {
    margin-top: 2px;
    font-size: 20px;
    font-weight: 500;
  }
  .task-center-container > .task-descript {
    font-size: 14px;
    font-weight: 400;
    color: rgb(145, 145, 145);
    margin-bottom: 7px;
  }
.task-date {
  align-self: center;
}
.task-container span {
  filter: invert(71%) sepia(68%) saturate(0%) hue-rotate(178deg) brightness(100%) contrast(87%);
  align-self: center;
}
.task-container span:first-of-type {
  margin-left: 7px;
}
.task-tag-span {
  padding-top: 5px;
  margin-right: 10px;
}
.del-span {
  margin-left: 10px;
  margin-right: 5px;
}